<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ bot_name }}</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="header">
        <img src="https://www.cdnlogo.com/logos/e/64/elasticsearch.svg" alt="Elastic Logo">
        <h1>Elastic + GenAI</h1>
    </div>

    <div class="h3">
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ bot_name }}</h3>
    </div>

    <div id="chat-container">
        <div id="messages"></div>
        <textarea id="user-input" rows="3" placeholder="Faça sua pergunta..."></textarea>
        <div class="action-container">
            <button id="send-button">Enviar</button>
            <div id="debug-toggle-container">
                <label id="debug-toggle-label" for="debug-toggle">Debug</label>
                <label class="switch">
                    <input type="checkbox" id="debug-toggle">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    </div>

    <script>
        const sendButton = document.getElementById('send-button');
        const userInput = document.getElementById('user-input');
        const debugToggle = document.getElementById('debug-toggle');

        userInput.addEventListener('keydown', function (event) {
            if (event.key === 'Enter') {
                event.preventDefault();
                sendButton.click();
            }
        });


        // Adiciona um evento "change" para monitorar o estado do toggle
        debugToggle.addEventListener('change', function () {
            if (debugToggle.checked) {
                console.log("DEBUG ATIVADO 🐞");
                // Adicione aqui outras ações que devem ocorrer quando o debug é ativado
            } else {
                console.log("DEBUG DESATIVADO ❌");
                // Adicione aqui outras ações que devem ocorrer quando o debug é desativado
            }
        });

        sendButton.addEventListener("click", async function () {
            const userMessageText = userInput.value.trim();
            if (!userMessageText) return;

            if (debugToggle.checked) {
                console.log("Mensagem do usuário:", userMessageText);
            }

            const userMessage = document.createElement("div");
            userMessage.className = "message user";
            userMessage.innerHTML = `<p>${userMessageText}</p>`;
            document.getElementById("messages").appendChild(userMessage);

            userInput.value = "";

            const botMessage = document.createElement("div");
            botMessage.className = "message bot";
            botMessage.innerHTML = `<p>...</p>`;
            document.getElementById("messages").appendChild(botMessage);

            try {
                const response = await fetch("/ask", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ question: userMessageText }),
                });

                const result = await response.json();
                botMessage.innerHTML = `<p>${result.answer}</p>`;

                if (debugToggle.checked) {
                    console.log("Query executada:", result.dsl_query);
                    console.log("Resposta da API:", result.answer);
                }
            } catch (error) {
                console.error("Erro:", error);
                botMessage.innerHTML = `<p>Error to receive the answer.</p>`;
            }
        });
    </script>
</body>

</html>